body{
    background-color: black;
    display: flex;
    justify-content: center;
}

.rigoberto {
    font-size: 10px;
    margin-left: 10px;
}
.like{
    margin-top: 10px;
}
.titulo{
    display: flex;
    align-items: center;
}
.cinco{
    font-size: 25px;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    border: 1px solid orangered;
    padding: 0 8px;
    align-items: center;
}
.post{
    background-color: aliceblue;
    border: 1px solid blue;
    width: 350px;
    margin: 0 auto;
    
    margin: 20px;
}

img {
    width: 100%;
}
.iconos {
    display: flex;
    justify-content: space-between;
}
.contenido{
    padding:0 8px
    
}